<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Dashboard <%= customerAcctNum %> - <%= firstName %> <%= lastName %> | Citi.com</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <script src="https://kit.fontawesome.com/9ee6416a3e.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
</head>
<body>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="true" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="font-size: small;">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close" style="color: dimgray;"></button>
                </div>
                <div class="modal-body">
                    <h2>Dear <%= firstName %>,</h2>
                    <h4>
                        <p>
                            Our system has detected that you have logged in from a new location. As a security measure,
                            your access has now been switched to view-only mode, which may temporarily limit access to certain features on this page.<br>
                            To maintain the security of your account, this session will automatically log out after 15 minutes.<br>
                            To fully restore all functionality and access to this session, kindly confirm this sign-in through the email we have sent to you.<br>
                            Thank you.
                        </p>
                    </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary close-modal" data-bs-dismiss="modal">Understood</button>
                </div>
            </div>
        </div>
    </div>
    <% if (showOverlay) { %>
        <script>
            function showOverlay() {
                const modal = document.querySelector('#staticBackdrop');
                const modalBackdrop = document.querySelector('.modal-backdrop');
    
                modal.style.display = 'block';
                modal.classList.add('show');
                modalBackdrop.classList.add('show');
            }
            setTimeout(showOverlay, 5000); // 15000 milliseconds (15 seconds) delay
        </script>
    <% } %>
    <script>
        function hideModal() {
            const modal = document.querySelector('#staticBackdrop');
            modal.style.display = 'none';
        }
      
        // Add a click event listener to all elements with class '.close-modal'
        const closeButtons = document.querySelectorAll('.close-modal');
        closeButtons.forEach(function (button) {
            button.addEventListener('click', hideModal);
        });
      </script>
    <div id="logo" class="container-fluid d-flex justify-content-between">
        <img src="/assets/logo.png" alt="Logo">
        <i class="align-self-center fa-solid fa-magnifying-glass fa-lg" style="color: #fdfdfd;"></i>
    </div>
    <nav id="nav-bar" class="container-fluid nav navbar navbar-expand-md ps-3">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav nav-pills">
              <a class="nav-link me-3" href="#">Accounts</a>
              <a class="nav-link me-3" href="#">Payments</a>
              <a class="nav-link me-3" href="#">Card Benefits</a>
              <a class="nav-link me-3" href="#">Account Management</a>
            </div>          
        </div>
        <span class="navbar-text pe-2">
            <a href="/signoff" class="btn btn-danger">Sign Off</a>
        </span>
    </nav>
    <div id="welcome-banner-row" class="mt-1 container-fluid">
        <div class="container d-flex justify-content-around">
            <div id="welcome-banner" class="col-8">
                <h1 class="ps-lg-5 welcome-message">
                    Welcome back, <span id="user-name-dsiplay"><%= firstName %></span>
                </h1>
                <div style="font-size: x-small;">
                    <p id="login-info" class="ps-lg-5 text-md-nowrap">Your last sign on was <span id="last-sign-on-value"></span> <a id="prof-settings" href="#">Profile & Settings</a></p>
                    <script>
                        // Compute user sign on date
                        const dateToday = new Date();
                        dateToday.setHours(dateToday.getHours() - 3);
                        const lastSignOnDayDate = dateToday.toDateString();
                        const lastSignOnTime = () => {
                            const timeString = dateToday.toTimeString();

                        // Get index of 'GMT' & '('
                        const gmtIndex = timeString.indexOf('GMT');
                        const openParenIndex = timeString.indexOf('(');

                        // Slice string to remove timezone offset
                        const slicedString = timeString.slice(0, gmtIndex) + timeString.slice(openParenIndex);
                        return slicedString;
                        }
                        const lastSignOn = lastSignOnDayDate + ' at ' + lastSignOnTime();
                        const lastSignOnElement = document.querySelector('#last-sign-on-value');
                        lastSignOnElement.textContent = lastSignOn;
                    </script>
                </div>
            </div>
            <h1 class="align-self-center" style="color: rgb(238, 241, 240);">&#9122;</h1>
            <div id="welcome-banner-score" class="align-self-center col-4">
                <h5 class="fico-score">
                    Your FICO<sup>&reg;</sup> Score
                </h5>
            </div>
        </div>
    </div>
    <div id="balance-info-row" class="mt-1 mt-md-5 container">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column ps-1 ps-md-2 pe-2 pe-md-5">
                <div class="d-flex flex-column">
                    <div class="curr-balance mt-4">Current Balance <i class="fa-regular fa-circle-question fa-sm" style="color: #c0c0c0;"></i></div>
                    <div class="curr-balance-fig mt-1" style="font-size: large; color: #03A60E">&#65284;21,071,296.41</div>
                    <a href="#" id="calculated-how" class="text-reset text-decoration-none">How is this calculated?</a>
                </div>
                <div class="statement-close-container">
                    <div class="statement-close mt-3 mb-5">Next statement closes Nov 07, 2023</div>
                </div>
            </div>
            <div class="d-flex flex-column pe-2 pe-md-5">
                <div class="min-amount-container">
                    <div class="min-amount mt-4">Minimum Balance Allowed: <i class="fa-regular fa-circle-question fa-sm" style="color: #c0c0c0;"></i></div>
                </div>
                <div class="d-flex flex-column">
                    <div class="last-statement-balance-text mt-3">Last Statement Balance</div>
                    <div class="last-statement-balancel-date">Sep 05, 2023</div>
                </div>
                <div class="make-payment">
                    <button id="make-payment-button" class="btn btn-primary btn-sm mt-4 mb-4" type="submit">Make a Payment</button>
                </div>
            </div>
            <div class="d-flex flex-column">
                <div class="min-amount-fig mt-4">&#65284;5,000.00</div>
                <div class="last-statement-balance-fig mt-3 mb-5">&#65284;19,811,037.26</div>
            </div>
           
        </div>
    </div>
    <div id="limits-pays-rates-container" class="mt-2 pt-1 pb-2 container d-flex flex-row">
        <div class="limits-pays-rates"><i class="fa-solid fa-circle-plus fa-sm" style="color: #056DAE"></i> Limits, Payments and Rates</div>
    </div>
    <div id="trans-table-container" class="container d-flex flex-row mt-2 mt-md-5 mx-auto table-responsive-lg">
        <table data-toggle="table" data-pagination="true" id="table-container" class="table-dark table-bordered text-center caption-top mb-5" style="font-size: medium;">
            <thead id="table-head" class="table-light">
            <tr>
                <th data-sortable="true" data-field="serial_number">S/N</th>
                <th data-field="date">Date</th>
                <th data-field="description">Description</th>
                <th data-field="amount">Amount</th>
            </tr>
            </thead>
            <tbody id="table-body" class="table-light table-group-divider">
                <% transactions.forEach(function (transaction) { %>
                    <tr>
                        <td><%= transaction.serial_number %></td>
                        <td><%= transaction.date_of_transaction %></td>
                        <td style="text-align: left;"><%- transaction.transaction_description %></td>
                        <td><%= transaction.amount %></td>
                    </tr>
                <% }); %>
            </tbody>
            <caption>
                Record of Transactions on Account 8765432109 - <%= firstName + ' ' + lastName %>
            </caption>
        </table>
    </div>
    <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
</body>
</html>